body {
    background-image: url("images/main/wallpapers.jpg");
}
.rounded-img {
    width: 60%;
    border-radius: 40%;

}
.main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.mycard{
    background: rgb(135,199,227);
    background: linear-gradient(90deg, rgba(135,199,227,0.7013655804118523) 20%, rgba(135,199,227,0.5) 35%, rgba(135,199,227,0.7) 80%);
    position: relative;
    height: 600px;
    width: 700px;
    display:flex;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}
.mycard .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 220px;
}
.mycard .circle::before{
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 220px;
    background: red;
    clip-path: circle(60px at 50%);
    transition: 0.5s;
}
.mycard:hover .circle:before{
    background: royalblue;
    clip-path:circle(480px at 50%);

}
.mycard img{
    position: absolute;
    transform: translate(-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}
.mycard:hover img{
    left:80%;
    height: 300px;
    width: 300px;
    border-radius: 5%;
}
.mycard .content{
    position: relative;
    width: 50%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    font-family: Times, "Times New Roman", Georgia, serif;
    font-size: 19px;
    color: gold;
}
.mycard:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}

